<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>

    <div class="container">

        <header class="header">
            <a href="{{ '/' | url }}"><img class="logo" src="{{ '/images/logo.svg' | url }}" alt="logo Camp4life" width="100"></a>

            <nav class="menu">
                <div class="menu__item">
                    <a class="menu__link" href="{{ '/' | url }}">Naše cesty</a>
                        <div class="menu__dropdown">
                            <button class="dropdown__button"><i class="fa fa-caret-down"></i></button>
                            <div class="dropdown__content">
                                <a class="dropdown__link" href="#">Roadtrip 2019</a>
                                <a class="dropdown__link" href="{{ '/roadtrips/roadtrip2021/' | url }}">Roadtrip 2021</a>
                                <a class="dropdown__link" href="#">Roadtrip 2022</a>
                                <a class="dropdown__link" href="#">Roadtrip 2023</a>
                                <a class="dropdown__link" href="#">Roadtrip 2024</a>
                            </div>
                        </div>
                </div>
                    <a class="menu__link" href="{{ '/CestovaniVeFrancii/' | url }}">Cestování ve Francii</a>
                <a class="menu__link" href="{{ '/napisnam/' | url }}">Napiš nám</a>
            </nav>
        </header>
        
        <main class="main">

        {{ content | safe }}

        </main>

        <footer class="footer">
            <p class="footer__text"> &copy2025, Svoboda! aneb svoje h*vn* si vezeme s sebou</p>
        </footer>
    </div>

<script>
function copyToClipboard(button) {
    var coords = button.previousElementSibling.innerText;
    navigator.clipboard.writeText(coords).then(function() {
        alert("Souřadnice byly zkopírovány: " + coords);
    }, function(err) {
        alert("Nepovedlo se zkopírovat souřadnice.");
    });
}
</script>


</body>
</html>